@media screen and (max-width: 768px) {
    .lists__header{
        position: absolute;
        top: 15vh;
        right: 0;
        width: 100vw;
        height: 80vh;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        background-color: var(--header-color);
        transform:  translateX(100%);
        transition: transform 0.3s ease-in;
    }

    .lists__header.active {
        transform:  translateX(0);
    }

    @keyframes navLinkFade {
        from {
            opacity: 0;
            transform: translateX(50px);
        }
        to {
            opacity: 1;
            transform: translateX(0);
        }
    }

    .link__lists___header{
        margin-left: 0;
        opacity: 0;
    }
    .img__lists___header {
        margin-left: 0;
        opacity: 0;
    }
    
    
    .mobile__menu {
        display: block;
    }

    .container__presentation {
        padding-top: 80px;
    }

    .container__content___presentation {
        width: 100%;
        flex-direction: column;
        align-items: center;
        height: initial;
    }

    .container__text___content____presentation {
        width: 80%;
        text-align: center;
    }

    .text__content___presentation {
        font-size: 35px;
        line-height: 50px;
    }

    .image__content___presentation {
        width: 200px;
        height: 200px;
        margin-top: 25px;
    } 
}

@media (min-width: 768px) and (max-width: 1024px) {
    .link__lists___header {
        margin-left: 12px;
    }
}
