@media screen and (max-width: 768px) {
    .lists__header{
        position: absolute;
        top: 15vh;
        right: 0;
        width: 100vw;
        height: 85vh;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        background-color: var(--header-color);
        transform:  translateX(100%);
        transition: transform 0.3s ease-in;
    }

    .lists__header.active {
        transform:  translateX(0);
    }

    @keyframes navLinkFade {
        from {
            opacity: 0;
            transform: translateX(50px);
        }
        to {
            opacity: 1;
            transform: translateX(0);
        }
    }

    .link__lists___header{
        margin-left: 0;
        opacity: 0;
    }

    .link__lists___header.darkmode{
        margin-bottom: 10%;
    }

    .img__lists___header {
        margin-left: 0;
        opacity: 0;
    }
    
    
    .mobile__menu {
        display: block;
    }

    .container__presentation {
        padding-top: 80px;
    }

    .container__content___presentation {
        width: 100%;
        flex-direction: column;
        align-items: center;
        height: initial;
    }

    .container__text___content____presentation {
        width: 80%;
        text-align: center;
    }

    .text__content___presentation {
        font-size: 35px;
        line-height: 50px;
    }

    .image__content___presentation {
        width: 200px;
        height: 200px;
        margin-top: 25px;
    }
    
    .container__technologies {
        margin: 100px 0;
    }
    
    .title__section{
        font-size: 35px;
        margin: 0 10px;
    }

    .subtitle__section {
        font-size: 22px;
    }

    .container__technologies___icons {
        margin-top: 50px;
        flex-direction: column;
        align-items: center;
    }

    .technologies__icons {
        width: calc(50% - 50px);
        padding-bottom: 10%;
    }

    .container__projects {
        margin-top: 100px;
    }

    .container__cards___projects {
        margin-top: 50px;
    }

    .cards__projects {
        margin-right: 0;
        height: 480px;
    }

    .container__link___cards____projects {
        padding-right: calc(60px - 11%);
    }

    .container__image___cards____projects {
        height: 30%;
    }

    .title__cards___projects {
        font-size: 21px;
    }

    .subtitle__cards___projects {
        font-size: 14px;
        text-align: center;
    }

    .subtitle2__cards___projects {
        padding-top: 40px;
        font-size: 12px;
    }

    .text__link___cards____projects {
        font-size: 12px;
    }

    .descricao__about-me {
        width: 70%;
        text-align: center;
    }

    .container__content___work-experience {
        width: 100%;
    }

    .container__content___education {
        width: 100%;
    }

    .content__work-experience--education {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .title-period__content___work-experience--education {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .company-local-time__content___work-experience--education {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 15px;
    }

    .container__period___content____work-experience--education {
        margin-top: 15px;
    }

    .company__content___work-experience--education {
        justify-content: center;
    }

    .local__content___work-experience--education {
        justify-content: center;
    }

    .container__about-me {
        margin-bottom: 0;
    }

    .container__footer-1 {
        flex-direction: column;
        height: initial;
        width: 100%;
        justify-content: center;
    }

    .container__title___header.footer {
        width: 100%;
        height: initial;
        text-align: center;
    }

    .container__phone-email-icons___footer {
        width: 100%;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin-top: 30px;
    }

    .container__icons___footer-1 {
        margin-top: 15px;
    }

    .line__footer {
        width: 100%;
    }

    .container__footer-2 {
        width: 80%;
    }

    .developer__footer-2 {
        text-align: center;
    }
}

@media (min-width: 768px) and (max-width: 1000px) {

    .text__content___presentation {
        font-size: 40px;
        line-height: 55px;
    }

    .container__footer-1 {
        flex-direction: column;
        height: initial;
        width: 100%;
        justify-content: center;
    }

    .container__title___header.footer {
        width: 100%;
        height: initial;
        text-align: center;
    }

    .container__phone-email-icons___footer {
        width: 100%;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin-top: 30px;
    }

    .line__footer {
        width: 100%;
    }

    .container__footer-2 {
        width: 80%;
    }

    .developer__footer-2 {
        text-align: center;
    }
}

@media screen and (max-width: 360px) {
    .cards__projects {
        width: 290px;
    }

    .container__link___cards____projects {
        padding-right: calc(60px - 21%);
    }
}

@media (min-width: 600px) and (max-width: 768px) {
    .title__section {
        font-size: 45px;
    }

    .subtitle__section {
        font-size: 25px;
    }

    .technologies__icons {
        width: calc(40% - 20px) ;
    }

}

@media (min-width: 768px) and (max-width: 1024px) {
    .link__lists___header {
        margin-left: 12px;
    }
}
