@media screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }

    .lists__header{
        position: absolute;
        top: 12vh;
        right: 0;
        width: 100vw;
        height: 88vh;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        background-color: var(--header-color);
        transform:  translateX(100%);
        transition: transform 0.3s ease-in;
    }

    .lists__header.active {
        transform:  translateX(0);
    }

    @keyframes navLinkFade {
        from {
            opacity: 0;
            transform: translateX(50px);
        }
        to {
            opacity: 1;
            transform: translateX(0);
        }
    }

    .link__lists___header{
        margin-left: 0;
        opacity: 0;
    }
    .img__lists___header {
        margin-left: 0;
        opacity: 0;
    }
    
    
    .mobile__menu {
        display: block;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {

    body {
        overflow-x: hidden;
    }

    .link__lists___header {
        margin-left: 12px;
    }
}